.profile-bg{
    background-position: 0 50%;
    background-size: 100% auto;
    border-radius: 4px 4px 0px 0px;
    height: 120px;
    width: 100%;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/845/719/688/abstract-minimalistic-wallpaper-preview.jpg);
    background-size: cover;
}