@import "../../../index.scss";
@import "../../../variables.scss";

.nb__main-container {
  display: flex;
  width: 100%;
  height: 60px;
  box-shadow: 1px 1px 3px 1px rgba(95, 95, 95, 0.5);
  align-items: center;
  justify-content: center;

  .nb__content-container {
    @extend .flex-row;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    .nb__title-container {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      gap: 10px;

      h1 {
        font-family: 'Ms Madi', cursive;
        font-size: 30px;
        color: $secondary-color;
      }
    }

    input {
      padding: 5px;
      padding-inline: 20px;
      border: none;
      background-color: $quaternary-color;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }

    .nb__button-group {
      @extend .flex-row;
      gap: 10px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 1000px;
        font-weight: bold;
        border: none;
        font-size: 15px;
      }
    }
  }
}
