@import "../../../index.scss";
@import "../../../variables.scss";

.cpm__main-container {
  @extend .flex-column;
  background-color: white;
  width: 500px;
  height: auto;
  max-height: 800px;
  padding: 20px;
  transition: all ease 0.2s;
  border-radius: 10px;
  gap: 10px;

  .cpm__header-container {
    @extend .flex-row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 100px;
      border: none;
    }
  }

  .cpm__content-container {
    @extend .flex-column;
    width: 100%;
    gap: 10px;

    textarea {
      box-sizing: border-box;
      display: flex;
      width: 100%;
      max-height: 300px;
      border: none;
      resize: none;
      font-family: "Poppins", sans-serif;
      font-size: 1rem;

      &:focus {
        outline: none;
      }
    }
  }
}
