@import "../../../index.scss";
@import "../../../variables.scss";

.edit-post {
  @extend .flex-column;
  width: 500px;
  height: auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;

  header {
    @extend .flex-row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    h1 {
      color: $primary-color;
    }

    button {
      @extend .flex-row;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: none;
      transition: all ease 0.2s;
    }
  }

  form {
    @extend .flex-column;
    gap: 10px;

    textarea {
      box-sizing: border-box;
      display: flex;
      width: 100%;
      max-height: 300px;
      border: none;
      resize: none;
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      background-color: rgb(237, 235, 235);
      padding: 5px 20px;
      border-radius: 20px;

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: $primary-color;
      border: none;
      padding: 10px;
      color: white;
      border-radius: 5px;
      transition: all ease 0.2s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
