@import "../../../index.scss";
@import "../../../variables.scss";

.comment {
  @extend .flex-column;
  width: 100%;
  height: auto;
  padding-inline: 20px;
  gap: 10px;

  .header {
    @extend .flex-row;
    width: auto;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    div {
      p {
        font-size: 0.75rem;
      }

      p:nth-child(2) {
        font-size: 0.6rem;
        color: gray;
      }
    }
  }

  p {
    font-size: .9rem;
  }
}
