@import "../../../index.scss";
@import "../../../variables.scss";

.header {
  @extend .flex-row;
  align-items: center;
  gap: 10px;
  padding-inline: 20px;
  padding-top: 20px;

  img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    object-fit: cover;
  }

  p:nth-child(1) {
    font-size: 1rem;
  }

  p:nth-child(2) {
    font-size: 0.75rem;
    color: gray;
  }
}

.content {
  @extend .flex-column;
  padding-inline: 20px;
  font-size: 0.9rem;
}
