@import "../../../index.scss";
@import "../../../variables.scss";

.add-comment {
  @extend .flex-row;
  gap: 10px;
  padding: 5px 5px;

  input {
    width: 100%;
    border-radius: 20px;
    border: 2px solid $primary-color;
    padding: 5px 15px;
    font-size: .9rem;

    &:focus {
      outline: none;
    }
  }

  button {
    @extend .flex-column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid $primary-color;
    padding-inline: 20px;
    border-radius: 20px;
    background-color: $primary-color;
    color: $quaternary-color;

    #btn-logo {
      font-size: 1rem;
      transform: rotateZ(90deg);
    }
  }
}
