@import "../../index.scss";
@import "../../variables.scss";

.h__main-container {
  @extend .flex-column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  section {
    margin-top: 70px;
    padding: 12px;
  }

  section:nth-child(1) {
    @extend .flex-column;
    flex: 3;
    width: 100%;
    height: 100%;
    gap: 10px;
  }

  section:nth-child(2) {
    @extend .flex-column;
    flex: 2;
    width: 100%;
    height: 100%;
  }
}
