@import "../../../index.scss";
@import "../../../variables.scss";

.main-container {
  @extend .flex-row;
  align-self: center;
  justify-content: center;

  .main-image-container {
    @extend .flex-column;
    width: 25%;
    height: 90vh;
    gap: 10px;
    position: relative;
  }
}
