@import "../../../index.scss";
@import "../../../variables.scss";

nav {
  @extend .flex-row;
  gap: 10px;
  align-items: center;

  .nl__button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    font-weight: bold;
    border: none;
    font-size: 15px;
    background-color: lightgray;
    color: black;

    &:hover {
      opacity: 0.5;
    }

    img {
      border-radius: 1000px;
      width: 35px;
      height: 35px;
      object-fit: cover;
    }
  }
}
